<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="formBody">
<!--Add employee form-->
<div th:replace="~{fragment/nav :: navbar}"></div>
<div class="m-5 employee-form col-md">
<!--    <button th:onclick="demo()">Click here</button>-->

    <form action="#" th:action="@{/save/employee}" th:object="${employee}" method="POST">
        <div class="form-group col-md-4">
            <label for="fName">First Name:</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="fName">
            <p th:errors = "*{firstName}" class="text-danger"
               th:if="${#fields.hasErrors('firstName')}"></p>
        </div>
        <div class="form-group col-md-4">
            <label for="lName">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lName">
            <p th:errors = "*{lastName}" class="text-danger"
               th:if="${#fields.hasErrors('lastName')}"></p>
        </div>
        <div class="form-group col-md-4">
            <label for="role">Role</label>
            <select id="role" th:field="*{role}" class="form-control">
                <th:block th:each="rol: ${roles}">
                    <option th:text="${rol.roleName}" th:value="${rol.id}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="level">Level</label>
            <select id="level" th:field="*{level}" class="form-control">
                <th:block th:each="lev: ${levels}">
                    <option th:text="${lev.levelName}" th:value="${lev.id}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="manager">Manager</label>
            <select id="manager" th:field="*{manager}" class="form-control">
                <th:block th:each="man: ${managers}">
                    <option th:text="${man.firstName}" th:value="${man.id}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="department">Department</label>
            <select id="department" th:field="*{department}" class="form-control">
                <th:block th:each="dep: ${departments}">
                    <option th:text="${dep.departmentName}" th:value="${dep.id}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>