<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Level</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragment/nav :: navbar}"></div>
<div class="m-5 level-form">
    <!--    <button th:onclick="demo()">Click here</button>-->
    <!--    Add level form-->
    <form action="#" th:action="@{/save/level}" th:object="${level}" method="POST">
        <div class="form-group col-md-3">
            <label for="fName">Level Name:</label>
            <input type="text" th:field="*{levelName}" class="form-control" id="fName">
            <p th:errors = "*{levelName}" class="text-danger"
               th:if="${#fields.hasErrors('levelName')}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
</div>
</body>
</html>