<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragment/nav :: navbar}"></div>

<div class="m-5">
    <a th:href="@{/addForm}"><button class="btn btn-success m-2">Add Employee</button></a>
<!--    Display list of all employees-->
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">fName</th>
            <th scope="col">lName</th>
            <th scope="col">role</th>
            <th scope="col">level</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="em: ${employees}">
            <td th:text="${em.id}"></td>
            <td th:text="${em.firstName}"></td>
            <td th:text="${em.lastName}"></td>
            <td th:text="${em.role}"></td>
            <td th:text="${em.level}"></td>

            <td><a class="btn btn-success" th:href="@{/updateEmployee/{id}(id=${em.id})}">Update</a></td>
            <td> <a class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>