<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employees</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body id="displayBody">
<div th:replace="~{fragment/nav :: navbar}"></div>

<div class="m-5">
    <a th:href="@{/add/empForm}">
        <button class="btn btn-success m-2">Add Employee</button>
    </a>

    <!--    Display list of all employees-->

    <table class="table justify-content-center col-6">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Level</th>
            <th scope="col">Department</th>
            <th scope="col">Manager</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="em: ${employees}">
            <td th:text="${em.id}"></td>
            <td th:text="${em.firstName}"></td>
            <td th:text="${em.lastName}"></td>
            <td>
                <span th:if="${em.role} != null" th:text="${em.role.getRoleName()}"></span>
                <span th:if="${em.role} == null">N/A</span>
            </td>
            <td>
                <span th:if="${em.level} != null" th:text="${em.level.getLevelName()}"></span>
                <span th:if="${em.level} == null">N/A</span>
            </td>
            <td>
                <span th:if="${em.department} != null" th:text="${em.department.getDepartmentName()}"></span>
                <span th:if="${em.department} == null">N/A</span>
            </td>
            <td>
                <span th:if="${em.manager} != null" th:text="${em.manager.getFirstName()}"></span>
                <span th:if="${em.manager} == null">N/A</span>
            </td>

            <td><a class="btn btn-success" th:href="@{/update/employee/{id}(id=${em.id})}">Update</a></td>
            <td><a class="btn btn-danger" th:href="@{/delete/employee/{id}(id=${em.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>