/*External css*/

#formBody {
    background-color: #fcf4e1;
}
#displayBody{
    background-color: #e5e2de;
}

/*Registration Page*/
#containerReg {
    background-color: #fdfcfc;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(19, 18, 18, 0.59);
    /* text-align: center; */
    border-radius: 15px;
}

/*Login Page*/
#containerLog {
    background-color: #fdfcfc;
    width: 40%;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(19, 18, 18, 0.59);

    /* text-align: center; */
    border-radius: 15px;
}
/*Home page*/
.centered{
    position: absolute;
    top: 10%;
    left: 50%;
    color: rgb(42, 53, 213);
    font-size: 40px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: serif, fantasy;
}



/*Navigation bar*/
.nav-link:hover {
    background-color: #4f4d4d;
    border-radius: 15px;
}

#welcome:hover {
    cursor: pointer;
    /*background-color: #e5e2de;*/
}